<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @person.user_id %>
</p>

<p>
  <strong>Civilite:</strong>
  <%= @person.civilite %>
</p>

<p>
  <strong>Nomdusage:</strong>
  <%= @person.nomdusage %>
</p>

<p>
  <strong>Nomdefamille:</strong>
  <%= @person.nomdefamille %>
</p>

<p>
  <strong>Communnenaissance:</strong>
  <%= @person.communnenaissance %>
</p>

<p>
  <strong>Paysnaissance:</strong>
  <%= @person.paysnaissance %>
</p>

<p>
  <strong>Dptnaissance:</strong>
  <%= @person.dptnaissance %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @person.tel %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @person.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @person.observations %>
</p>

<p>
  <strong>Piecej:</strong>
  <%= @person.piecej %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
