<p id="notice"><%= notice %></p>

<h1>Corepresentants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corepresentants.each do |corepresentant| %>
      <tr>
        <td><%= link_to 'Show', corepresentant %></td>
        <td><%= link_to 'Edit', edit_corepresentant_path(corepresentant) %></td>
        <td><%= link_to 'Destroy', corepresentant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corepresentant', new_corepresentant_path %>
