nouevlles personnes

    Ma demande
    1 - Ma demande

    Des champs sont non renseignés ou mal renseignés, merci de corriger votre saisie.
<div>
    Titulaire du compte
    membre
    <%=current_user.prenom%>
</div>
<div>
    Co-représentant
    <%=render as: :person, partial:"people/person",collection:current_user.corepresentants%>
<%= button_to 'ajouter', Corepresentant.new(user_id:current_user.id), method: :create,params: {corepresentant:Corepresentant.new(user_id:current_user.id).as_json}, data: { confirm: 'Are you sure?' } %>
</div>

    <div>Membres foyer
    <%=render as: :person, partial:"people/person",collection: current_user.foyermembres%>
<%= button_to 'ajouter', Foyermembre.new(user_id:current_user.id), method: :create,params:{foyermembre:Foyermembre.new(user_id:current_user.id).as_json}, data: { confirm: 'Are you sure?' } %>
</div>
    <div>Contacts
    <%=render as: :person, partial:"people/person",collection: current_user.contacts%>
<%= button_to 'ajouter', Contact.new(user_id:current_user.id), method: :create, data: { confirm: 'Are you sure?' },params:{contact:Contact.new(user_id:current_user.id).as_json} %>
</div>

<div id="monformulaire"></div>
